@using StokTakip.Models;
@model List<Nakliyeciler>
@{
    ViewBag.Title = "NakliyeciIndex";
}
@section body{
    <div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="tedarikciismi" class="tedarikciismi"> </p>
                    <p id="silmeHatasi" class="silhata">teefsd </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="button" id="tedSil" class="btn btn-primary ">Sil</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

}
<div class="d-flex justify-content-center">

    <a href="/Nakliyeci/nakliyeciEkle" class="btn btn-success m-2 text-center pt-2 w-100 justify-content-between">
        <i class="fa fa-plus-square fa-3x"></i><div>Yeni Nakiyat Firması Ekle</div>
    </a>
</div>

<div class="bg-light rounded p-4">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">Nakliyecic ID</th>
                <th scope="col">Nakliyeci Adı</th>
                <th scope="col">Nakliyeci Bilgisi</th>
                <th scope="col">Güncelleme</th>
                <th scope="col">Silme</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NakliyeciID</td>
                    <td>@item.FirmaAdi</td>
                    <td>@item.FirmaBilgisi</td>
                    <td><a href="/Nakliyeci/Guncelle/@item.NakliyeciID" class="btn btn-outline-success btn-sm">Güncelle</a></td>
                    <td><button class="btn btn-outline-danger btn-sm modalAc" data-toggle="modal" data-tedid="@item.NakliyeciID" data-sirketadi="@item.FirmaAdi" data-target="#small-modal"> Sil </button> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script>

        $(".modalAc").click(function () {
            $("#silmeHatasi").html("");
            var sirketAdi = $(this).data("sirketadi");

            var id = $(this).data("tedid");
            $(".modal-body>p.tedarikciismi").html("Silmekten emin misiniz?");
            $("#tedSil").data("tid", id);
        }
        );

        $("#tedSil").click(function () {
            var id = $(this).data("tid");
            //alert(id);
            $.ajax({

                type: "POST",
                url: "/Nakliyeci/Sil/" + id,
                success: function (durum) {
                    if (durum == "başarılı") {
                        window.location.replace("/Nakliyeci/NakliyeciIndex");
                    }
                    else {
                        $("#silmeHatasi").html("Hata Oluştu" + durum);
                    }
                }
            }
            );

        }
        );
    </script>
}