@using StokTakip.Models;
@model Magazalar


@{
    ViewBag.Title = "magazaEkle";
}

<div class="col-md-12">
    <div class="bg-light rounded h-100 p-4">
        @if (Model == null)
        {
            <h2 class="mb-4">Yeni Mağaza Ekle</h2>

        }
        else
        {
            <h2 class="mb-4">Mağazayı Düzenleyin</h2>

        }
    <form action="/Magaza/MagazaEkle" method="post" role="form">
        @if (Model == null)
        {
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="MagazaAdi">
                <label for="floatingInput">Mağaza Adı</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="MagazaTurleriID">
                    @foreach (MagazaTurleri item in ViewBag.magazaturleri)
                    {
                        <option value="@item.MagazaTurleriID">@item.MagazaTurAdi</option>

                    }
                </select>
                <label for="floatingSelect">Seçiniz</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Sehir">
                <label for="textInput">Şehir</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.İlce">
                <label for="textInput">İlçe</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Mahalle">
                <label for="textInput">Mahalle</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.BinaNumarası">
                <label for="textInput">Bina Numarası</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Telefon">
                <label for="    ">Telefon</label>
            </div>

            <button type="submit" class="btn btn-success text-center">Mağazayı Ekle</button>
        }
        else
        {
            <input type="text" hidden class="form-control" id="floatingInput" placeholder="name@example.com" name="MagazaID" value="@Model.MagazaID">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="MagazaAdi" value="@Model.MagazaAdi">
                <label for="floatingInput">Mağaza Adı</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="MagazaTurleriID">
                    @foreach (MagazaTurleri item in ViewBag.magazaturleri)
                    {
                        <option value="@item.MagazaTurleriID">@item.MagazaTurAdi</option>

                    }
                </select>
                <label for="floatingSelect">Seçiniz</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Sehir" value="@Model.Adres.Sehir">
                <label for="textInput">Şehir</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.İlce" value="@Model.Adres.İlce">
                <label for="textInput">İlçe</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Mahalle" value="@Model.Adres.Mahalle">
                <label for="textInput">Mahalle</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name="Adres.BinaNumarası" value="@Model.Adres.BinaNumarası">
                <label for="textInput">Bina Numarası</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Password" name="Adres.Telefon" value="@Model.Adres.Telefon">
                <label for="textInput">Telefon</label>
            </div>

            <button type="submit" class="btn btn-success text-center">Mağazayı Kaydedin</button>
        }
    </form>

    </div>
    </div>
